{
	"printWidth": 60,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf"
}
